## Missing category imputation - pandas

[Feature Engineering for Machine Learning Course](https://www.trainindata.com/p/feature-engineering-for-machine-learning)

To download the House Prices dataset, please refer to the lecture **Datasets** in **Section 2** of this course.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Two categorical columns and the target SalePrice

cols_to_use = ["BsmtQual", "FireplaceQu", "SalePrice"]

In [3]:
# Let's load the House Prices dataset.

data = pd.read_csv("../../Datasets/houseprice.csv", usecols=cols_to_use)

data.head()

  BsmtQual FireplaceQu  SalePrice
0       Gd         NaN     208500
1       Gd          TA     181500
2       Gd          TA     223500
3       TA          Gd     140000
4       Gd          TA     250000

In [4]:
# Let's separate into training and testing sets.

X_train, X_test, y_train, y_test = train_test_split(
    data.drop("SalePrice", axis=1),
    data["SalePrice"],
    test_size=0.3,
    random_state=0,
)

X_train.shape, X_test.shape

((1022, 2), (438, 2))

In [5]:
# Find missing data

X_train.isnull().mean()

BsmtQual       0.023483
FireplaceQu    0.467710
dtype: float64

In [6]:
# Capture the imputation values in
# a dictionary

imputation_dict = {
    "BsmtQual": "Missing",
    "FireplaceQu": "Missing",
}

imputation_dict

{'BsmtQual': 'Missing', 'FireplaceQu': 'Missing'}

Some variables may have more than 1 mode. In this case, we need to decide which category to use as replacement for the NaN values.

In [7]:
# Replace missing data

X_train.fillna(imputation_dict, inplace=True)
X_test.fillna(imputation_dict, inplace=True)

In [8]:
# Corroborate replacement

X_train.isnull().sum()

BsmtQual       0
FireplaceQu    0
dtype: int64

In [9]:
# Corroborate replacement

X_test.isnull().sum()

BsmtQual       0
FireplaceQu    0
dtype: int64