# Basic imputation

The original data source can be found [here](https://archive.ics.uci.edu/dataset/222/bank+marketing).

I've modified the data for the course and uploaded it to the repo.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("../bank-marketing.csv")

data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribe
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5.0,may,261.0,1.0,-1.0,0,unknown,0
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0,unknown,0
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,NaN,-1.0,0,unknown,0
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0,unknown,0
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5.0,may,198.0,1.0,-1.0,0,unknown,0

In [3]:
X_train, X_test, y_train, y_test = train_test_split(
    data.drop("subscribe", axis=1),
    data["subscribe"],
    test_size=0.33,
    random_state=42,
)

# Which categorical variables have na?

# Which numerical variables have na?

# Would you use mean or median imputation?

# Impute with the median using Feature-engine

# Impute with an arbitrary string using Feature-engine

# Impute using sklearn

In [4]:
X_train, X_test, y_train, y_test = train_test_split(
    data.drop("subscribe", axis=1),
    data["subscribe"],
    test_size=0.33,
    random_state=42,
)